# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.tfvars
# Plan files
*.plan
# Provider plugins (sometimes outside .terraform)
terraform.d/
